@font-face {
  font-family: "iconfont"; /* Project id 4562378 */
  src: url('iconfont.woff2?t=1716772754233') format('woff2'),
       url('iconfont.woff?t=1716772754233') format('woff'),
       url('iconfont.ttf?t=1716772754233') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-DarkTheme:before {
  content: "\e65a";
}

