.ImagePreviewArea
{
	border: #000000 1px solid;
	overflow: auto;
	width: 100%;
	height: 170px;
	background-color: #ffffff;
}

.FlashPreviewArea
{
	border: #000000 1px solid;
	padding: 5px;
	overflow: auto;
	width: 100%;
	height: 170px;
	background-color: #ffffff;
}