# emlog
.htaccess
.user.ini
Dockerfile
config.php
/content/backup/*.sql
/content/cache/*
/content/uploadfile/*

# IDE
.project
.settings
.buildpath
.cache
.idea
.netbeans
.DS_Store

# docker
db_data/*

# VS Code
.vscode/*
.history/*
*.code-workspace

# Logs
logs/
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm/

# Output of 'npm pack'
*.tgz

# Coverage directory used by tools like istanbul
coverage/