html
{
	min-height: 100%;
}

form
{
	border: 1px dotted #FF0000;
	padding: 2px;
}

.FCK__Flash
{
	border: #a9a9a9 1px solid;
	background-position: center center;
	background-image: url(images/fck_flashlogo.gif);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}

.FCK__UnknownObject
{
	border: #a9a9a9 1px solid;
	background-position: center center;
	background-image: url(images/fck_plugin.gif);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}

/* Empty anchors images */
.FCK__Anchor
{
	border: 1px dotted #00F;
	background-position: center center;
	background-image: url(images/fck_anchor.gif);
	background-repeat: no-repeat;
	width: 16px;
	height: 15px;
	vertical-align: middle;
}

/* Anchors with content */
.FCK__AnchorC
{
	border: 1px dotted #00F;
	background-position: 1px center;
	background-image: url(images/fck_anchor.gif);
	background-repeat: no-repeat;
	padding-left: 18px;
}

/* Any anchor for non-IE, if we combine it with the previous rule IE ignores all. */
a[name]
{
	border: 1px dotted #00F;
	background-position: 0 center;
	background-image: url(images/fck_anchor.gif);
	background-repeat: no-repeat;
	padding-left: 18px;
}