@charset "utf-8"; 
body{font-size:12px; color:#000; line-height:1.6; font-family:arial,helvetica,sans-serif; padding:0; margin:0;}
a{color:#2A9DDB; text-decoration:none;outline:none; }
a:hover{color:#333; text-decoration:none}
#media-upload-header{background-color:#E4F2FD; border-top:solid #C6D9E9 1px; margin-top:8px;}
#media-upload-header span{margin:5px 5px; padding:5px; list-style-type:none}
#curtab{background-color:#FFF; border-left:1px solid #C6D9E9; border-right:1px solid #C6D9E9; border-top:1px solid #C6D9E9}
#attlist{float:left; border:1px solid #CCC; list-style:none; text-align:center; margin:5px; padding:3px}
#attmsg{margin:40px 0px 0px 250px}
#media-upload-body{margin:0px 200px 0px 0px}