TABLE[border="0"], 
TABLE[border="0"] > TR > TD, TABLE[border="0"] > TR > TH, 
TABLE[border="0"] > TBODY > TR > TD, TABLE[border="0"] > TBODY > TR > TH, 
TABLE[border="0"] > THEAD > TR > TD, TABLE[border="0"] > THEAD > TR > TH, 
TABLE[border="0"] > TFOOT > TR > TD, TABLE[border="0"] > TFOOT > TR > TH, 
TABLE:not([border]), 
TABLE:not([border]) > TR > TD, TABLE:not([border]) > TR > TH,
TABLE:not([border]) > TBODY > TR > TD, TABLE:not([border]) > TBODY > TR > TH,
TABLE:not([border]) > THEAD > TR > TD, TABLE:not([border]) > THEAD > TR > TH,
TABLE:not([border]) > TFOOT > TR > TD, TABLE:not([border]) > TFOOT > TR > TH
{
	border: #d3d3d3 1px dotted ;
}
