TABLE.FCK__ShowTableBorders, TABLE.FCK__ShowTableBorders TD, TABLE.FCK__ShowTableBorders TH
{
	border: #d3d3d3 1px solid;
}

FORM
{
	border: 1px dotted #FF0000;
	padding: 2px;
}

.FCK__Media
{
	border: darkgray 1px solid;
	background-position: center center;
	background-image: url(images/fck_flashlogo.gif);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}

input[type="hidden"]
{
	display: inline;
	width:20px;
	height:20px;
	border:1px dotted #FF0000 ;
	background-image: url(behaviors/hiddenfield.gif);
	background-repeat: no-repeat;
}

input[type="hidden"]:after
{
	padding-left: 20px;
	content: "" ;
}
