body
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 12px;
	padding: 5px;
	margin: 0px;
	border-style: none;
	background-color: #ffffff;
}

.Bold
{
	font-weight: bold;
}

.Title
{
	font-weight: bold;
	font-size: 18px;
	color: #cc3300;
}

.Code
{
	border: #8b4513 1px solid;
	padding-right: 5px;
	padding-left: 5px;
	color: #000066;
	font-family: 'Courier New' , Monospace;
	background-color: #ff9933;
}