.ForceBaseFont *
{
	font-size: 12px;
	font-family: 'Microsoft Sans Serif' , Tahoma, Arial, Verdana, Sans-Serif;
}

/*
	### Panel Styles
*/

.FCK_Panel
{
	border: #8f8f73 1px solid;
	padding: 2px;
	background-color: #ffffff;
}

.FCK_Panel, .FCK_Panel TD
{
	font-family: 'Microsoft Sans Serif' , Tahoma, Arial, Verdana, Sans-Serif;
	font-size: 12px;
}

/*
	### Color Selector Panel
*/

.ColorBoxBorder
{
	border: #808080 1px solid;
	position: static;
}

.ColorBox
{
	font-size: 1px;
	width: 10px;
	position: static;
	height: 10px;
}

.ColorDeselected, .ColorSelected
{
	cursor: default;
}

.ColorDeselected
{
	border: #ffffff 1px solid;
	padding: 2px;
	float: left;
}

.ColorSelected
{
	border: #330066 1px solid;
	padding: 2px;
	float: left;
	background-color: #c4cdd6;
}
