/*
	### Basic Editor IFRAME Styles.
*/

body
{
	padding: 1px;
	margin: 0px;
}

#eWysiwygCell, .Source
{
	border-left: #696969 1px solid;
	border-right: #696969 1px solid;
	border-bottom: #696969 1px solid;
}

#eSourceField
{
	border: none;
	padding: 5px;
	font-family: Monospace;
}

/*
	### Toolbar Styles
*/

.TB_ToolbarSet
{
	background-color: #efefde;
}

.TB_ToolbarSet
{
	border: #efefde 1px outset;
}

.TB_ToolbarSet, .TB_ToolbarSet *
{
	font-size: 12px;
	cursor: default;
	font-family: 'Microsoft Sans Serif' , Tahoma, Arial, Verdana, Sans-Serif;
}

.TB_Button_On, .TB_Button_Off, .TB_Button_Disabled, .TB_Combo_Off, .TB_Combo_Disabled
{
	border: #efefde 1px solid;
	height: 21px;
}

.TB_Button_On
{
	border-color: #316ac5;
	background-color: #c1d2ee;
}

.TB_Button_Off, .TB_Combo_Off
{
	opacity: 0.70; /* Safari, Opera and Mozilla */
	filter: alpha(opacity=70); /* IE */
	/* -moz-opacity: 0.70; Mozilla (Old) */
	background-color: #efefde;
}

.TB_Button_Disabled, .TB_Combo_Disabled
{
	opacity: 0.30; /* Safari, Opera and Mozilla */
	filter: gray() alpha(opacity=30); /* IE */
	/* -moz-opacity: 0.30; Mozilla (Old) */
}

.TB_Button_On_Over, .TB_Button_Off_Over
{
	background-color: #dff1ff;
}