body, h1, h2, h3, h4, h5, h6, address, blockquote, dd, dl, hr, p, form{
	margin: 0;
	padding: 0;
}

body{
	font-family: Verdana, Arial, Helvetica, Georgia, sans-serif;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	color: #e29090;
	background: #860000;
}

table{
	font-family: Verdana, Arial, Helvetica, Georgia, sans-serif;
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6{
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
}

a{
	text-decoration: underline;
	color: #bb0000;
}

a:hover{
	text-decoration: none;
}

a img{
	border: 0;
}

address, dl, p{
	padding: 10px 0 5px;
}

blockquote{
	float: left;
	width: 480px;
	margin: 10px 0 0;
	border-top: 2px solid #ddd;
	background: #eee;
}

blockquote p{ padding: 10px; }

blockquote blockquote{
	float: none;
	width: auto;
	margin: 0 10px;
	background: #fff;
}

code{
	background: #f9f9f9;
}

dd{
	padding: 0 0 0 20px;
}

p img{
	max-width: 100%;
}

img.centered{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignright{
	padding: 4px;
	margin: 3px 0 2px 10px;
	display: inline;
}

img.alignleft{
	padding: 4px;
	margin: 3px 10px 2px 0;
	display: inline;
}

.alignleft{
	float: left;
}

.alignright{
	float: right;
}

.clear{
	margin: 0;
	padding: 0;
	clear: both;
}

small{
	font-size: 11px;
}

input, textarea{
	font-family: Arial, Helvetica, Georgia, sans-serif;
	font-size: 12px;
	padding: 2px;
}

.wrap_center{
	margin: 0 auto;
	width: 980px;
}

#header{
	background: #a70505 url(images/bg_header.gif) repeat-x;
}

#header h1{
	padding: 20px 0;
	font-size: 24px;
	color: #fff;
}

#header h1 a{
	text-decoration: none;
	color: #fff;
}

#header h1 a:hover{
	text-decoration: underline;
}

#menu{
	background: #860000 url(images/bg_menu.gif) repeat-x;
}

#menu ul{
	margin: 0  auto;
	width: 980px;
	padding: 11px 0 0;
	list-style: none;
	list-style-type: none;
	font-size: 11px;
}

#menu ul li{
	float: left;
	margin: 0 0 0 1px;
	background: #4b0808 url(images/bg_menu_tab_right.gif) no-repeat right top;
}

#menu ul li a{
	display: block;
	padding: 8px 10px 9px;
	text-decoration: none;
	color: #fff;
	background: url(images/bg_menu_tab_left.gif) no-repeat;
}

#menu ul li a:hover{
	text-decoration: underline;
}

#menu ul li.rss{
	float: right;
	margin: 0 20px 0 0;
	background: #a80000 url(images/bg_menu_tab_right_alt.gif) no-repeat right top;
	display: inline;
}

#menu ul li.rss a{
	background: url(images/bg_menu_tab_left_alt.gif) no-repeat;
}

#menu ul li.current_page_item{
	background: #fff url(images/bg_menu_tab_right_current.gif) no-repeat right top;
}

#menu ul li.current_page_item a{
	color: #000;
	background: url(images/bg_menu_tab_left_current.gif) no-repeat;
}

#page{
	float: left;
	width: 100%;
	background: #fff;
	color: #000;
}

#page .wrap_float{
	float: left;
	width: 980px;
	margin: 20px 0 0;
	background: url(images/dotted_v.gif) repeat-y 780px top;
}

.maincolumn{
	float: left;
	width: 760px;
}

.banner{
	float: left;
	width: 760px;
	height: 150px;
	margin: 0 0 20px;
	background: url(images/bg_banner.gif) no-repeat;
}

.post, .post_alt{
	float: left;
	width: 760px;
	padding: 0 0 10px;
}

.wrapper{
	float: left;
	width: 760px;
}

.post_alt{
	background: #f9f9f9 url(images/bg_rc_bottom.gif) no-repeat left bottom;
}

.post_alt .wrapper{
	background: url(images/bg_rc_top.gif) no-repeat;
}

.postmeta{
	float: right;
	width: 240px;
	margin: 34px 0 0;
	background: url(images/bg_gradient.jpg) no-repeat;
}

.post_alt .postmeta{
	background: url(images/bg_gradient_alt.gif) no-repeat;
}

.postmeta ul{
	margin: 0;
	padding: 0 20px 20px;
	list-style: none;
	list-style-type: none;
	line-height: 24px;
}

.postmeta ul li{
	padding: 8px 0;
	background: url(images/dotted_h.gif) repeat-x left bottom;
}

.post h2, .post_alt h2{
	float: left;
	width: 480px;
	padding: 0 0 10px 0;
	margin: 11px 20px 0;
	background: url(images/dotted_h.gif) repeat-x left bottom;
	display: inline;
	text-transform: uppercase;
	line-height: 30px;
}

.post h2 a, .post_alt h2 a{
	text-decoration: none;
}

.post h2 a:hover, .post_alt h2 a:hover{
	text-decoration: underline;
}

.entry{
	float: left;
	width: 480px;
	margin: 0 20px;
	display: inline;
	line-height: 24px;
}

.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6{
	padding: 10px 0 5px;
}

.entry h1{ font-size: 24px; line-height: 30px; }
.entry h2{ float: none; width: auto; margin: 0; padding: 0; text-transform: none; background-image: none; }
.entry h3{ font-size: 16px; font-weight: bold; }
.entry h4{ font-size: 14px; font-weight: bold;}
.entry h5{ font-size: 12px; }
.entry h6{ font-size: 11px; }

.navigation{
	padding: 15px 20px 16px;
	font-family: Georgia, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.sidebar{
	float: right;
	width: 200px;
	display: inline;
}

.sidebar ul{
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
}

.sidebar ul li{
	padding: 20px;
}


.sidebar ul li#calendar table{
	font-size: 11px;
}

.sidebar ul li#calendar table caption{
	padding: 10px;
}

.sidebar ul li#calendar table th, .sidebar ul li#calendar table td{
	text-align: left;
}

.sidebar ul li#calendar table td{
	padding: 3px 6px 3px 0;
}

.sidebar ul li h2{
	font-family: Georgia, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0 0 10px;
	text-transform: uppercase;
	background: url(images/dotted_h.gif) repeat-x left bottom;
	cursor:pointer;
}

.sidebar ul ul{
	line-height: 15px;
}

.sidebar ul ul li{
	padding: 8px 0;
	background: url(images/dotted_h.gif) repeat-x left bottom;
}

.sidebar ul ul ul li{
	padding: 0 0 0 10px;
	background-color: transparent;
	background-image: none;
}

.comments_template{
	float: left;
	width: 760px;
	padding: 0 0 10px;
	background: #f9f9f9 url(images/bg_rc_bottom.gif) no-repeat left bottom;
}

.comments_template .wrapper{
	background: url(images/bg_rc_top.gif) no-repeat;
}

.comments_template h3{
	text-transform: uppercase;
	line-height: 30px;
}

.comments_template h3#comments{
	float: left;
	width: 720px;
	margin: 11px 0 0 20px;
	display: inline;
}

.comments_template ol{
	float: left;
	width: 720px;
	margin: 0 0 0 20px;
	padding: 0;
	list-style: none;
	list-style-type: none;
	line-height: 24px;
	display: inline;
}

.comments_template ol li{
	float: left;
	width: 720px;
	padding: 0;
	margin: 10px 0 0;
	background: url(images/dotted_h.gif) repeat-x;
}

.commentmeta{
	float: right;
	width: 220px;
	margin: 2px 0 0;
	background: url(images/bg_gradient_alt.gif) no-repeat;
}

.commentmeta ul{
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0 0 11px 20px;
	line-height: 24px;
}

.commentmeta ul li{
	float: none;
	width: auto;
	margin: 0;
	padding: 9px 0;
	background: url(images/dotted_h.gif) repeat-x left bottom;
}

.commententry{
	float: left;
	width: 480px;
	margin: 0 20px 0 0;
	display: inline;
}

.comments_template p.nocomments{
	margin: 0 0 0 20px;
}

.comments_form{
	float: left;
	width: 720px;
	margin: 11px 0 5px 20px;
	display: inline;
}

#footer{
	background: url(images/bg_footer.gif) repeat-x;
}

#footer a{
	color: #fff;
}

#footer .wrap_center{
	padding: 8px 0 17px;
}

#footer p{
	padding: 10px 20px 5px;
	line-height: 24px;
}
/*日历样式*/
.calendar{
	/*background-image:url(images/bg.jpg);*/
	margin-left:0px;
}
.calendar td{
	font-size:10px;
	text-align:center;
	padding:1px 3px;
}
.calendar a:visited{
	color:#FF3300;
	text-decoration:underline;
}
.calendar td a:link{
	color:#FF3300;
	text-decoration:underline;
}
.calendar td a:hover{
	color:#FF3300;
	text-decoration:underline;
}
.day{
	border:#63617b solid 1px;
}
.day2 {
	font-weight:bold;

}
.sun{
	color: #333333;
	font-weight:bold;
}
.week{
	color: #333333;
	}
.calendartop{
	text-align:center;
	font-size:14px;
	margin-left:15px;
	}
#twitter li 
{
	line-height:20px;
}
#twitter li span
{
	font-size:10px;
	padding-left:50px;
}
#twitter li small
{
	font-size:10px;
	padding:0px 10px;
}
#input{
  padding:3px;
  border:1px solid #CCCCCC;
}