/*
 *Author:奇遇
 *Url:http://www.qiyuuu.com
 */
*{margin:0;padding:0}
body{background:url(images/background.jpg) repeat #EAEAEA;font:14px "Microsoft YaHei";color:#686868;_background-image:url(about:blank);_background-attachment:fixed}
a{color:#000;text-decoration:none;blr:expression_r(this.onFocus=this.blur());outline:none}
a:focus{-moz-outline-style:none}
a:hover{text-decoration:none;color:#3FB1D7}
img{border:none}
ul,ol{list-style:none;margin:0}
input{color:#333;border:1px solid #111;border-radius:3px 3px 3px 3px}
blockquote{background:#A4A4A4;margin:0 28px;padding:5px}
.clear{clear:both}
/*logo*/
.logo{height:80px;width:138px;cursor:pointer;position:fixed;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+25));top:25px;left:20px;z-index:99999;padding-top:30px;background:url(images/logo.png) bottom no-repeat transparent}
/*顶部导航*/
.topnav{background:url(images/nav-bg.png) repeat-x transparent;height:55px;position:relative;z-index:2}
.topnav .container{margin:0 auto;padding:0;position:relative;width:930px}
.topnav a{text-shadow:#FFF 1px 1px;color:#B6B6B6;font-size:14px;text-decoration:none;font-weight:bold}
.topnav ul{position:relative;z-index:100;margin-left:20px;background:none}
.topnav ul li{background:none;display:block;float:left;height:29px;padding:15px 15px 0}
.current a{font-size:16px}
.topnav .info{position:absolute;left:300px;padding-top:25px;font-size:12px;width:600px;text-align:right;color:#555;text-shadow:1px 1px #FFF;font-weight:bold}
.header{background:url(images/header-bg.png) no-repeat scroll left -5px #222;height:420px;position:relative;z-index:1;margin-top:-20px;padding-bottom:50px;_padding-bottom:0}
.header .container{margin:0 auto;padding:30px 0 0;position:relative;width:940px}
.header .container .header-left{padding-left:20px;float:left;height:430px;overflow:hidden}
.header .container .header-right{float:right;padding-right:20px;width:300px}
.content-list{color:#747474;margin:0;padding:0 0 30px;text-align:left;width:600px;display:none}
.header-left .nonce{display:block}
.content-list a{color:#CCC}
.content-list p{line-height:20px;margin:10px 0 0;font-family:Georgia;font-size:14px;word-wrap:break-word}
.content-list img{max-width:570px;width:expression(this.width>570?570:true)}
.single h2,.content-list h4{clear:both;font-size:35px;width:600px;white-space:nowrap;overflow:hidden;color:#FFF}
.content-list .log-meta{text-align:right;margin-right:30px;font-size:12px}
.content-list .log-content{height:350px;overflow:hidden}
.title-list{background:url(images/list-bottom.png) no-repeat center bottom;width:300px;padding-bottom:20px}
.title-list ul{list-style:none}
.title-list li{height:52px;width:270px;background:url(images/list-bg.png) no-repeat left -52px transparent;padding:0;line-height:52px;clear:both;cursor:pointer;margin:auto}
.title-list li:hover{background:url(images/list-bg.png) no-repeat transparent}
.title-list .rank{float:left;color:#FFFFFF;font-family:helvetica;font-size:18px;font-weight:bold;text-align:center;width:65px;text-shadow:1px 1px #333333}
.title-list .title{float:left;width:160px;margin-left:20px;overflow:hidden;white-space:nowrap;display:block}
.title-list .title a{display:block}
/*main*/
.main{}
.home{margin-top:50px}
/*日志页*/
.single{height:110px;padding:0}
.single .container{padding-left:30px}
.single .container .post-meta{float:right;color:#686868;text-shadow:1px 1px #000}
.single .container .post-meta a{color:#F0F0F0}
.single .container .post-meta a:hover{color:#3FB1D7}
.content{width:940px;margin:auto}
.post{width:660px;float:left;border-right:1px #f0f0f0 solid;_width:620px}
.post p{font-size:14px;padding:5px;line-height:20px}
.entry{padding:0 20px}
.entry img{max-width:570px;width:expression(this.width>570?570:true)}
.entry p{text-indent:28px}
.entry .log-att{clear:both}
.entry .log-att p{text-indent:0}
.entry .log-att hr{color:#ffffff}
.post .log-tags{padding:5px 20px}
.neighborlog{padding:5px 20px;border-bottom:1px solid #F0F0F0;height:14px}
.neighborlog .previous{float:left;padding-left:35px;background:url(images/previous.png) no-repeat left center transparent;height:14px;line-height:14px;font-size:14px;font-weight:bold;text-shadow:1px 1px #FFFFFF}
.neighborlog .next{float:right;padding-right:35px;background:url(images/next.png) no-repeat right center transparent;height:14px;line-height:14px;font-size:14px;font-weight:bold;text-shadow:1px 1px #FFFFFF}
.post .log-related{padding:5px 20px}
.related_post{float:left;width:280px;margin:5px;padding:5px}
.related_post h3{border:1px solid #C4C4C4;background:#E0E0E0;border-radius:3px 3px 3px 3px;padding:3px 5px;font-size:16px;color:#191919;font-weight:bold}
.related_post ul{padding:5px}
.related_post li{white-space:nowrap;overflow:hidden}
.wumii-hook{padding:5px 20px}
/*引用、评论*/
.trackback-url,.trackback,.comments,.comment-post{padding:5px 20px}
.trackback h2,.comments h2,.comment-post h2{font-size:18px;color:#191919;background:#EEEEEE;border:1px solid #C4C4C4;padding:3px 5px;border-radius:3px 3px 3px 3px}
.trackback ul{padding:3px 5px}
.trackback ul li{padding:5px 0;border:1px solid #A4A4A4;border-radius:3px 3px 3px 3px}
.comment{clear:both;padding:10px;margin:10px 0;border:1px solid #A4A4A4;border-radius:3px 3px 3px 3px;background:#F0F0F0;overflow:hidden}
.comment .avatar{float:left;margin:5px}
.comment .avatar img{border:2px solid #A4A4A4;}
.alt{border:1px solid #C4C4C4;background:#E0E0E0}
.comment-time{float:right;color:#B6B6B6;font-size:12px;font-weight:bold;text-shadow:1px 1px #FFFFFF}
.comment-info{margin-top:10px;margin-left:50px}
.commnet-content{margin:8px 0 0}
.comment-reply{float:right;font-size:12px}
.children{width:100%;margin:auto;clear:both}
.comment .comment-post{width:95%;margin:15px auto}
.comment-post{clear:both}
.comment-post p{margin:5px 0}
.smiles img{cursor:pointer}
.cancel-reply,.click-to-comment{float:right;font-size:12px;cursor:pointer;_cursor:hand;padding:5px 10px;line-height:20px}
.comment-post small{font-size:12px;color:#999}
.comment-post input{padding:5px;border:1px #b6b6b6 solid;font-size:12px;color:#333;width:40%}
.comment-post #comment{width:95%;border:1px #b6b6b6 solid;font-size:12px;color:#333}
.comment-post #comment_submit{width:150px;height:29px;text-align:center;cursor:pointer;_cursor:hand}
.comment-post .input{width:100px}
.trackback a{color:#B6B6B6;font-size:14px;font-weight:bold;text-shadow:1px 1px #FFFFFF}
.trackback a:hover{color:#3FB1D7}
.trackback .date{float:right;color:#B6B6B6;font-size:12px;font-weight:bold;text-shadow:1px 1px #FFFFFF}
/*侧边*/
.side{float:left;width:270px;margin-left:-1px;border-left:1px solid #F0F0F0}
.side .widget h3{color:#000000;font-size:20px;font-weight:bold;margin:0 0 5px;padding:10px 20px;border-bottom:1px solid #F0F0F0}
.side .widget .blogroll li{float:left;width:100px;padding-right:0}
/*日志缩略图*/
.mini-logs{width:940px;margin:auto}
.mini-content{width:210px;height:160px;float:left;margin:5px;overflow:hidden;position:relative;border:5px solid #E3E1E1;border-radius:5px 5px 5px 5px;cursor:pointer}
.mini-content .thumb{width:210px;height:160px;opacity:0.3}
.mini-content .title{position:absolute;z-index:20;top:0}
.mini-content .title a{width:210px;height:160px;display:block;text-indent:-9999px}
.mini-content .desc{padding:3px;color:#222;width:210px;height:160px;position:absolute;z-index:10;top:0;background:url(images/opacity.png) repeat transparent\9}
.mini-content .desc p{padding:0 3px;line-height:22px;text-indent:28px}
.mini-content .desc img{max-width:150px;width:expression(this.width>150?150:true)}
/*碎语页面*/
.tw ul{padding:5px 20px}
.tw ul li{border:1px solid #A4A4A4;border-radius:3px 3px 3px 3px;background:#F0F0F0;padding:5px;margin:5px 0;overflow:hidden}
.tw .avatar{float:left;margin:5px}
.tw .author{margin-top:5px;font-weight:bold}
.tw .date{float:right;color:#B6B6B6;font-size:12px;font-weight:bold;text-shadow:1px 1px #FFFFFF;padding:5px}
.tw .reply{float:right;font-size:12px;padding:5px}
.huifu{display:none;clear:both;padding:5px 20px;text-align:center}
.tinfo{margin:5px}
.tw input{width:120px}
.tw ul li ul{clear:both}
.tw .r li{border:1px solid #C4C4C4;background:#E0E0E0}
.tw .name{font-weight:bold}
.tw em{float:right}
.tw textarea{width:95%;border:1px #b6b6b6 solid;color:#333;margin:5px}
/*分页样式*/
.pagenavi{clear:both;color:#B6B6B6;font:bold 16px helvetica;margin:30px;text-shadow:1px 1px #FFFFFF}
.pagenavi span,.pagenavi a{margin:2px;padding:3px 5px;text-decoration:none}
/*widgets*/
.widgets{width:940px;margin:auto}
.widget-col{width:310px;float:left}
.widgets .widget{width:300px;background:none repeat scroll 0 0 #F4F4F4;border-radius:5px 5px 5px 5px;box-shadow:2px 2px 1px #000000;margin:5px}
.widgets h3{color:#131313;font-size:24px;font-weight:bold;padding:20px 20px 15px 30px}
.widget ul{list-style:none;padding:0 20px;color:#000000;font-family:georgia;font-size:14px;font-style:normal;text-shadow:1px 1px #FFFFFF;-moz-background-clip:border;-moz-background-origin:padding;-moz-background-size:auto auto}
.widget ul li a{color:#948F8F}
.widget ul li a:hover{color:#3FB1D7}
.widget ul li{line-height:1.3em;list-style:none outside none;background:url(images/widget-li.png) 0 11px no-repeat transparent;padding:5px 14px;width:232px;overflow:hidden}
.blogger li,.widget .tags li{background:none;padding-left:14px}
.widget .tags li a{white-space:nowrap}
.widget .blogroll{overflow:hidden}
.widget .blogroll li{float:left;width:110px;padding-right:5px}
.tw-more{text-align:right;background:none;margin-right:20px}
.recent-comment{padding-right:0}
.recent-comment li{white-space:nowrap}
.widget form{padding:0 0 30px 15px}
.widget form input{height:20px;float:left;margin:2px 3px 5px}
.widget form .submit{height:22px;width:40px;background:#ccc}
#calendar{padding:0}
/*日历*/
.calendartop{font-size:16px;margin:3px auto}
.calendartop a{padding:0 3px}
.calendar{margin:auto;padding-bottom:5px}
.calendar td{font-size:14px;text-align:center;padding:2px 5px;line-height:1.6}
.day{font-weight:bold}
.day a{color:#111;font-size:18px}
.day a:hover,.day2 a:hover{color:#3FB1D7}
.day2 a{color:#948F8F}
.sun{color:#111;font-weight:bold}
.week{color:#111}
/*页脚*/
.footer{background:#111}
.footer .container{width:940px;margin:auto;height:30px;line-height:30px;color:#ccc}
.footer a{color:#B6B6B6;font-size:14px;text-decoration:none}
.footer a:hover{color:#f0f0f0}