.posttags {
margin-left: 20px;
background: url(images/img_42.jpg) left center no-repeat;
height: 20px;
padding-left: 18px;
color: #9B9796;
width: 290px;
#position: absolute;
#top: 10%;
display: table-cell;
vertical-align: middle;
}
.posttags2 {
#position: relative;
#top: 0%;
}

.posttitle h3 a{
width: 443px;
}

.box1text, .box2text, .box3text{
height: 120px;
}


.sidebar #searchsubmit {
margin-top: 1px;
}