/*!
 * emlog
 */
body {
	font-size: 20px;
	color: #212529;
	font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

p {
	line-height: 1.5;
	margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

a {
	color: #212529;
	transition: all 0.2s;
}

a:focus, a:hover {
	color: #0085A1;
}

blockquote {
	font-style: italic;
	color: #868e96;
}

.section-heading {
	font-size: 36px;
	font-weight: 700;
	margin-top: 60px;
}

footer {
	padding: 50px 0 65px;
}

footer .list-inline {
	margin: 0;
	padding: 0;
}

footer .copyright {
	font-size: 14px;
	margin-bottom: 0;
	text-align: center;
}

.btn {
	font-size: 14px;
	font-weight: 800;
	padding: 15px 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 0;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary {
	background-color: #0085A1;
	border-color: #0085A1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	color: #fff;
	background-color: #00657b !important;
	border-color: #00657b !important;
}

.btn-lg {
	font-size: 16px;
	padding: 25px 35px;
}

.side-bar h3 {
	position: relative;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px
}

.side-bar .widget li {
	position: relative;
	color: #6f6f6f
}

.side-bar .widget {
	margin-bottom: 45px;
	padding: 30px
}

.shadow-theme {
	box-shadow: 0 0 3px rgb(0 0 0 / 15%) !important;
}

.side-bar .widget .widget-title h6 {
	position: relative;
	padding-bottom: 5px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px
}

.side-bar .widget .widget-title h6:after {
	content: '';
	width: 30px;
	height: 1px;
	background: #2196f3;
	position: absolute;
	bottom: 0;
	left: 0
}

.widget-list li {
	display: flex;
	overflow: hidden;
	justify-content: space-between;
	margin-bottom: 8px;
	position: relative;
	transition: all .3s ease;
	z-index: 0
}

.widget-list li a {
	float: left;
	clear: both;
	position: relative;
	text-align: left;
	background-color: #fff;
	padding-right: 25px
}

.pagination span{
	padding: 8px 15px;
	border: 1px solid;
	margin: 0 5px;
}
.pagination a{
	color: #005cbf;
	padding: 8px 15px;
	border: 1px solid;
	margin: 0 5px;
}


.calendartop{text-align:center; font-size:12px; margin-left:30px}
.calendar{margin-bottom:10px;}
.calendar td{font-size:11px; text-align:center; padding:1px 10px; line-height:1.6;}
.calendar td a:link{color:#886353; text-decoration:none;}
.calendar td a:hover{color:#886353; text-decoration:none}
.day{background:url(../images/bg_cal_today.gif)  no-repeat 2px 1px}
.day2{font-weight:bold}
.sun{color:#333; font-weight:bold}
.week{color:#333}

.comment-header{margin:15px 0px 5px 0px}
.comment-post {clear:both}
.comment-post p{margin:5px 0px}
.comment-post .cancel-reply{float:right;font-size:12px;cursor:pointer; _cursor:hand;padding-right:10%}
.comment-post .cancel-reply:hover{text-decoration:underline}
.comment-post small{font-size:12px; color:#999}
.comment-post input{padding:5px 5px; border:1px #b6b6b6 solid; font-size:12px; color:#333; width:40%}
.comment-post #comment{ width:90%; border:1px #b6b6b6 solid; font-size:12px; color:#333}
.comment-post #comment_submit{background:url(../images/em_button.gif) no-repeat; border:0; color:#000000; width:111px; height:29px; text-align:center; cursor:pointer; _cursor:hand}
.comment-post .input{width:100px}
.comment{margin:10px 0; padding:10px 0px; font-size:12px; border-bottom:1px #f7f7f7  solid; overflow:hidden; color:#333; height:100%; zoom:1}
.comment span{color:#ff7a15;}
.comment .comment-time{color:#999999; display:inline; font-size:10px;}
.comment .avatar{float:left;margin:5px}
.comment .comment-info{float:left;width:90%}
.comment .comment-content{margin:8px 0px 0px 0px;}
.comment .comment-reply{float:right;font-size:12px;cursor:pointer; _cursor:hand;}
.comment .comment-reply:hover{text-decoration:underline}
.comment-children{width:95%;margin:auto;clear:both;border:none;padding:0}
.comment .comment-post{width:90%;margin:15px auto}
