/****************************************************************
  Docking Boxes core CSS: YOU MUST NOT CHANGE OR OVERRIDE THESE 
*****************************************************************/
.dbx-clone {
	position:absolute;
	visibility:hidden;
	}
.dbx-clone, .dbx-clone .dbx-handle-cursor {
	cursor:move !important;
	}
.dbx-dummy {
	display:block;
	width:0;
	height:0;
	overflow:hidden;
	}
.dbx-group, .dbx-box, .dbx-handle {
	position:relative;
	display:block;
	}
/****************************************************************
  avoid padding, margins or borders on dbx-box, 
  to reduce visual discrepancies between it and the clone.  
  overall, dbx-box is best left as visually unstyled as possible 
*****************************************************************/
.dbx-box {
	margin:0;
	padding:0;
	border:none;
	clear: both;
	}
/****************************************************************
  otherwise, do what you like :) 
*****************************************************************/
/* group container(s) */
.dbx-group {
	width:210px;
	padding:0 0px 10px;
}
* html .dbx-group {
	width: 210px;
	padding-bottom:0;
}

/* handles */
.dbx-handle {
	position:relative;
	margin:0;
	padding: 16px 24px 7px 10px;
	background:url(images/sidep-handle.png) no-repeat 0 0; 
}
* html .dbx-handle { 
	width: 176px; 
}
/* handle cursors are in a class of their own
   so they only get applied if the script is supported */
.dbx-handle-cursor {
	cursor:move;
}

/* toggle images */
a.dbx-toggle, a.dbx-toggle:visited {
	display:block;
	width:20px;
	height:20px;
	overflow:hidden;
	background:url(images/sidep-toggle.png) no-repeat;
	position:absolute;
	top:12px;
	right:3px;
	text-indent:-50px;
	text-decoration:none;
}
a.dbx-toggle-open, a.dbx-toggle-open:visited {
	background-position:0 0;
}
a.dbx-toggle-closed, a.dbx-toggle-closed:visited {
	background-position:0 -20px;
}
a.dbx-toggle-hilite-open, a.dbx-toggle-hilite-open:visited {
	background-position:-20px 0;
}
a.dbx-toggle-hilite-closed, a.dbx-toggle-hilite-closed:visited {
	background-position:-20px -20px;
}

/* keyboard navigation tooltip */
.dbx-tooltip {
	display:block;
	position:absolute;
	margin:36px 0 0 125px;
	width:185px;
	border:1px solid #000;
	background:#ffd;
	color:#000;
	font:normal normal normal 0.85em tahoma, arial, sans-serif;
	padding:2px 4px 3px 5px;
	text-align:left;
}
* html .dbx-tooltip { width:210px; }

/* use CSS2 system colors in CSS2 browsers 
   but not safari, which doesn't support them */
*[class="dbx-tooltip"]:lang(en) {
	border-color:InfoText;
	background:InfoBackground;
	color:InfoText;
	font:small-caption;
	font-weight:normal;
	}
/* inner content area */	
.dbx-content {
	margin: 0;
	padding: 5px 10px 9px 10px;
	background: url(images/sidep-bottom.png) no-repeat 0 100%;
	overflow: hidden;
}
/* toggle state of inner content area */
.dbx-box-closed .dbx-content {
	display:block;
	height:4px;
	padding:0;
	overflow:hidden;
}
.dbx-box-closed .dbx-content * {
	display:none;
}

/* additional clone styles */
.dbx-clone {
	opacity:0.8;
	-moz-opacity:0.8;
	-khtml-opacity:0.8;
	filter:alpha(opacity=80);
}