body{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ADADAD;
	margin: 0;
	padding: 0;
	background: black;
	text-align: center;
}
img{
	border: 0;
}
.clear{
	clear: both;
}


#header{
	margin: 0 auto;
	width: 900px;
	height: 217px;
	background: url(images/header_img.jpg) no-repeat;
	text-align: left;
}

#header h1{
	padding-top: 33px;
	padding-left: 135px;
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 30px;
	margin: 0;
	text-align: center;
}
#header h4{
	padding-left: 135px;
	font-family: Arial, Helvetica, Georgia, Tahoma, Verdana, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #8ACCFF;
	margin: 0;
	text-align: center;
}
#header a:link, #header a:visited, #header a:active, #header a:hover{
	color: white;
	text-decoration: none;
}
#header a:hover{ color: #8ACCFF;}
.search{
	padding-left: 50px;
    float: right;
    height:30px;
}
.search_form{
	margin: 3px 0;
	padding: 0;
}
.search_form input{
	vertical-align: middle;
	margin: 0 10px;
	padding: 0;
}
#menu{
    width: 600px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	float: right;
	background: #303030;
	margin-left: 32px;
}
#menu .rimg{
	background: url(images/menu_r.gif) no-repeat bottom right;
	padding-right: 20px;
}
#menu .limg{
	background: url(images/menu_l.gif) no-repeat bottom left;
	padding-left: 20px;
    height: 30px;
}
#menu ul{
	padding: 0;
	margin: 2px 0;
	float: left;
}
#menu ul li{
	list-style: none;
	float: left;
	padding: 5px 5px;
	margin: 0 2px;
}
#menu a:link, #menu a:visited, #menu a:active, #menu a:hover{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
#menu a:hover{text-decoration: underline;}

#content{
	margin: 0 auto;
	width: 900px;
	text-align: left;
	background: url(images/cont_bg.gif) repeat-y center;
}

.left{
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	float: left;
	width: 260px;
	font-size: 12px;
}
.left .lpadding{
	margin: 0 10px 0 15px;
}
.left .title{
	padding: 5px 10px;
}
.left h1{
	margin: 0;
	padding: 0;
	font-family: "Times New Roman", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #248CE5;
}
.left p{
	padding: 10px;
	margin: 0;
}
.left ul{
	padding: 0;
	margin: 10px 5px 10px 30px;
}
.left ul li{
	list-style: none;
	background: url(images/bullet.gif) no-repeat left center;
	padding: 0 10px;
	margin: 0;
}
.left a:link, .left a:visited, .left a:active, .left a:hover{
	color: #9F9F9F;
	text-decoration: none;
}
.left a:hover{ text-decoration: underline;}

.right{
	float: right;
	width: 635px;
	font-size: 14px;
}

.right .title{
	background: #121212;
	padding: 5px 10px;
	margin:  2px 20px 0 5px;
}
.right .logdes{
	padding: 5px 10px;
	margin:  2px 20px 0 5px;
}
h1 span{
	cursor:pointer;
	display: block;
}
.right h1{
	padding: 0;
	margin: 0;
	font-family: "Times New Roman", Tahoma, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 24px;
}
.right h1 a:link, .right h1 a:visited, .right h1 a:active, .right h1 a:hover{
	color: #248CE5;
	text-decoration: none;
}
.right h1 a:hover{ text-decoration: underline;}

.right h4{
	padding: 0;
	font-family: Tahoma, Arial, Helvetica, Georgia, Tahoma, Verdana, sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #ADADAD;
	margin: 0 5px;
}
.right p{
	padding: 3px 30px 3px 10px;
	margin: 0;
}
.div1{
	height: 1px;
	padding: 1px;
}
.right a:link, .right a:visited, .right a:active, .right a:hover{
	color: #93BFE3;
	text-decoration: underline;
}
.right a:hover{text-decoration: none;}

.tags{

	margin: 10px 20px 0 20px;
	padding: 2px 0;
	font-size: 10px;

}
.permalink{
	font-size: 12px;
	text-align: right;
	margin: 0 10px;
	padding: 5px 10px;
	color: #ADADAD;
}
.permalink a:link, .permalink a:visited, .permalink a:active, .permalink a:hover{
	color: #ADADAD;
	text-decoration: underline;
}
.permalink a:hover{text-decoration: none;}
.nextlog{
	margin-right:50px;
	text-align:right;
}


#footer{
	margin: 0 auto;
	width: 900px;
	background: url(images/footer_bg.jpg) no-repeat 730px 0;
	color: #D4D4D4;
	text-align: center;
	font-size: 12px;
}
#footer p{
	padding: 20px 0 30px 0;
	margin: 0;
}
#footer a:link, #footer a:visited, #footer a:active, #footer a:hover{
	color: #D4D4D4;
	font-weight: bold;
	text-decoration: underline;
}
#footer a:hover{text-decoration: none;}

#footer a.sec:link, #footer a.sec:visited, #footer a.sec:active, #footer a.sec:hover{
	color: #A2A2A2;
	font-weight: bold;
	text-decoration: underline;
}
#footer a.sec:hover{text-decoration: none;}

h2 {
	font-family: Georgia, Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 18px;
}

h3 {
	font-family: Georgia, Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 16px;
}

p, li, .feedback {
	font: 100% Tahoma, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

#commentform #author, #commentform #email, #commentform #url, #commentform textarea {
	background: #fff;
	border: 1px solid #333;
	padding: .2em;
}

#commentform textarea {
	width: 99%;
}
#commentlist{
	font-size:12px;
	padding-left:20px;
	width:520px;
}
#commentlist li ul {
	border-left: 1px solid #ddd;
	font-size: 110%;
	list-style-type: none;
}

#commentlist li .avatar {
	float: right;
	margin-right: 25px;
	border: 1px dotted #ccc;
	padding: 2px;
}


#wp-calendar {
	border: 1px solid #ddd;
	empty-cells: show;
	font-size: 14px;
	margin: 0;
	width: 90%;
}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
}

#wp-calendar a {
	display: block;
	text-decoration: none;
}

#wp-calendar a:hover {
	background: #e0e6e0;
	color: #333;
}

#wp-calendar caption {
	color: #999;
	font-size: 16px;
	text-align: left;
}

#wp-calendar td {
	color: #ccc;
	font: normal 12px 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	letter-spacing: normal;
	padding: 2px 0;
	text-align: center;
}

#wp-calendar td.pad:hover {
	background: #fff;
}

#wp-calendar td:hover, #wp-calendar #today {
	background: #eee;
	color: #bbb;
}

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
}
p img {
padding: 0;
max-width: 100%;
}

img.centered {
display: block;
margin-left: auto;
margin-right: auto;
}

img.alignright {
padding: 4px;
margin: 0 0 2px 7px;
display: inline;
}

img.alignleft {
padding: 4px;
margin: 0 7px 2px 0;
display: inline;
}

.alignright {
float: right;
}

.alignleft {
float: left
}
.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}
.remsg{
	margin:100px 150px 100px 150px;
	font-size:12px;
}
/*页码样式*/
#pageurl {
	margin: 20px 0px 30px;;
	text-align: left;
	margin-left: 20px;
	font-size: 14px;
}
/*日历样式*/
.calendar { /*background-image:url(images/bg.jpg);*/
	margin-left: 4px;
}

.calendar td {
	font-size: 12px;
	text-align: center;
	padding: 0px 5px;
}

.calendar a:visited {
	color: #93BFE3;
	text-decoration: none;
}

.calendar td a:link {
	color: #93BFE3;
	text-decoration: none;
}

.calendar td a:hover {
	color: #93BFE3;
	text-decoration: none;
}

.day {
}

.day2 {
	font-weight: bold;
}

.sun {
	font-weight: bold;
}

.week {
}

.calendartop {
	text-align: center;
	font-size: 14px;
	margin-left: 41px;
}
.sort{
	margin-left:20px;
	font-size:12px;
	color:#999999;
}
.sort a {
	color: #999999; 
	text-decoration: none
}
.sort a:hover {
	color: #999999;
	text-decoration: none
}