@charset "utf-8";
body{background-color:#fff; padding:0px; font-family:Arial,Helvetica,sans-serif; font-size:12px}

#main{
  margin: 0 auto;
  margin-top: 100px;
  max-width: 500px;
}
button#login{
  width: 100%;
}
#small-buttons{
  float: right;
}
#checkcode{
  width: 70px;
  height: 22px;
  margin-left: 15px;
  margin-right: -90px;
  margin-top: 6px;
}