body {
    background-color: #f8f8f8;
    font-family:"微软雅黑",Arial,Helvetica,sans-serif;
}

#wrapper {
    width: 100%;
    overflow: hidden;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-avatar {
    padding: 15px;
}

.sidebar .sidebar-avatar img {
    border: 2px solid #ccc;
    width: 70px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}



/*
 * metismenu - v1.0.3
 * Easy menu jQuery plugin for Twitter Bootstrap 3
 * https://github.com/onokumus/metisMenu
 *
 * Made by Osman Nuri Okumuş
 * Under MIT License
 */
.arrow {
    float: right;
}

.glyphicon.arrow:before {
    content: "\e079";
}

.active > a > .glyphicon.arrow:before {
    content: "\e114";
}


/*
 * Require Font-Awesome
 * http://fortawesome.github.io/Font-Awesome/
*/


.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.plus-times {
    float: right;
}

.fa.plus-times:before {
    content: "\f067";
}

.active > a > .fa.plus-times {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.plus-minus {
    float: right;
}

.fa.plus-minus:before {
    content: "\f067";
}

.active > a > .fa.plus-minus:before {
    content: "\f068";
}



/*main.css*/
li {list-style:none;}
#mainpage {
    margin:5px auto 0px;
    width:996px;
}
#container {
    padding-left:30px;
    float:left;
    width:840px;
}
#footer{
    clear:both;
    margin:0px auto;
    padding:18px 0px 12px;
    text-align:center;
}
#menu_wt a {background:url(../images/addblog.gif) no-repeat 18px 1px;}
#menu_plug a {background:url(../images/plugin.gif) no-repeat 20px 1px;}
#menu_store a {background:url(../images/store.gif) no-repeat 20px 1px;}
#menu_ext { cursor:pointer;}
.menu_ext_minus {background:url(../images/minus.gif) no-repeat 15px 5px;}
.menu_ext_plus {background:url(../images/plus.gif) no-repeat 15px 5px;}
.containertitle {
    font-size:16px;
    padding: 20px 0px 15px;
    color:#666666;
    margin-bottom: 15px;
}
.tdcenter {
    text-align:center;
    padding-left:0;
}
.notice {
    padding:10px 5px;
    font-size:14px;
    color:#F30
}
.care {
    color:#C13932
}
.care2 {
    color:#093
}
.attlist img {
    border:1px solid #ccc;
    padding:3px
}
textarea {
    font-size:12px
}
.tralt_a {
    background-color:#FFF
}
.tralt_b {
    background-color:#F7F7F7
}
.trover {
    background-color:#E9F1FA
}
.error_msg {
    margin:0px 200px;
    background:url(../images/icon_error.gif) no-repeat 10px #FDFFCE;
    font-size:12px;
    padding:5px 30px;
    border:1px #FFBA43 solid
}
.warning {
    margin:0px 200px;text-align: center;
    background-color:#FDFFCE;
    font-size:12px;
    padding:5px 30px;
    border:1px #FFBA43 solid
}
#msg {
    margin:0px 300px;
    font-size:12px;
    position:fixed;
    top:0px;
    left:200px;
    font-weight:bold
}
#msg_2 {
    margin:0px 50px;
    font-size:12px
}
.msg_autosave_do {
    padding:10px;
    background-color:#FFF1A8
}
.msg_autosave_error {
    padding:10px;
    background-color:#C30;
    color:#FFF
}
.ajax_remind_1 {
    padding:3px 5px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
#user,#pw {
    height:28px;
    width:210px
}
#imgcode {
    height:28px;
    width:80px
}
.logtags {
    margin-left:5px
}
.logtags a {
    color:#FFF
}
.logtag {
    background-color:#F2B699;
    padding:0px 3px;
    margin:1px 2px;
    border-radius:3px;
}
.filters {
    margin:0px 0px 10px 0px;
}
.filter {
    background-color:#6edffb;
    padding:1px;
    margin:1px
}
.filter a {
    color:#FFF
}
.list_footer {
    margin:5px 0px;
}
#f_sort {
    border:#FFF5CE solid 1px;
    background-color:#FFF7D7;
    width:500px;
    padding:10px;
    margin:10px 0px 5px 32px
}
#f_tag {
    border:#FDF1E3 solid 1px;
    background-color:#FEF8F1;
    width:500px;
    padding:10px;
    margin:10px 0px 5px 32px
}
#f_user {
    border:#C1FBB7 solid 1px;
    background-color:#E1FDE2;
    width:500px;
    padding:10px;
    margin:10px 0px 5px 32px
}
#page_options {
    float:right;
    margin-right: 5px;
}
#page_options label {
    vertical-align:middle;
    cursor:pointer;
}
#page_options input {
    vertical-align:middle;
    margin:3px 15px 3px 0px
}
#input_error {
    color:#CC0000;
    margin-left:0px;
    padding:1px 3px 1px 18px;
    font-weight:bold;
    background:url(../images/no.png) no-repeat scroll left center transparent;
    white-space:nowrap;
}
#log_pass {
    display:none
}
#admindex_servinfo li {
    line-height:1.6;
    border-bottom: 1px solid #E4E4E4;
    padding: 10px;
}
#admindex_msg img {
    border:none
}
#admindex_msg ul li {
    line-height:1.6;
    border-bottom: 1px solid #E4E4E4;
    padding: 10px;
}
#admindex_msg ul li img {
    margin:5px
}
#admindex_msg span {
    float:right
}
#admindex div h3 {
    font-weight:500;
    font-size:12px;
    padding:5px 5px;
    margin:0;
    background:url(../images/admindex_itembg.gif) repeat-x
}
#admindex div li {
    list-style:none;
    padding:4px 0px 4px 5px;
    border-bottom:1px dotted #E4E4E4;
    clear:both
}
#admindex div ul {
    list-style:none;
    margin:0px;
    padding:3px 1px
}
.clear {
    clear:both;
    height:1px;
    font-size:1px
}
.msg_type_1 a {
    font-weight:bold;
    color:#F60;
    text-decoration:none
}
.msg_type_1 a:hover {
    color:#F90
}
.msg_type_2 a {
    color:#F93;
    text-decoration:none
}
.msg_type_2 a:hover {
    color:#FC3
}
#adm_plugin_list img {
    cursor:pointer
}
#backup {
    display:none;
    margin:0px 0px 20px 20px;
}
#import {
    display:none;
    margin:0px 0px 20px 20px;
}
#cache {
    display:none;
    margin:0px 0px 20px 0px;
}
.permalink_url {
    color:#939393;
    letter-spacing:2px;
    padding:5px;
}
#m a {
    color:#999999;
    background:url(../images/m.gif) no-repeat 2px 1px;
    font-weight:bold;
    letter-spacing:1px;
    padding:8px 0px 8px 23px;
}

.topimg_line {
    clear:both;
    width:794px;
    font-weight:bold;
    padding:15px 0px 0px 0px;
    margin:0px 0px 5px 0px;
    border-bottom:1px dotted #CCC
}
#topimg_default {
    margin:10px 10px 10px 10px;
}
#topimg_default div {
    float:left;
    margin:12px;
    width:235px;
    height:60px;
}
#topimg_default .topTH {
    border:1px solid #CCCCCC;
    padding:1px;
}
#topimg_default li {
    text-align:center;
    margin:0px;
}
#topimg_default li a {
    color:#999999
}
#topimg_preview {
    margin:10px 10px 10px 22px;
}
#topimg_custom {
    margin:10px 10px 10px 22px;
}
.setting_line {
    width:665px;
    padding:5px 0px 0px 0px;
    margin:0px 0px 5px 30px;
    border-bottom:1px solid #F7F7F7
}
.custom_top_button {
    margin-top:60px;
}
.custom_top_button a {
    background:url(../images/custom_top.png) no-repeat;
    width:130px;
    height:23px;
    display:block;
    padding:1px 0px 0px 23px;
    color:#000000;
}
.custom_top_button a:active {
    text-decoration:none;
    padding:2px 0px 0px 21px
}
#post{
    width: auto;
}
#post #tag_label {
    vertical-align:middle;
    color:#BBBBBB;
    font-size:12px;
    padding:3px;
    position:absolute;
    cursor:text;
}
#post #advset {
    display:none;
}
#post_bar {
    margin:5px 0px;
}
.show_advset {
    margin:20px 10px 10px 0px;
    padding:0px 20px 0px 0px;
    cursor:pointer;
    font-weight:bold;
}
#post_button{
    margin:10px 0px;
}
#post_options {
    float:right
}
#post_options label {
    vertical-align:middle;
    cursor:pointer
}
#post_options input {
    vertical-align:middle;
    margin:3px 0px 3px 15px
}
#navi_add{
    margin:20px 0px 120px 0px;
}
#navi_add h1{
    font-size:12px;
    font-weight:normal;
    border:#E5E5E5 solid 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color:#F1F1F1;
    padding:2px 5px;
    margin:0px;
    background: url("../images/admindex_itembg.gif") repeat-x scroll center bottom transparent;
    cursor:pointer;
}
#navi_add div{
    width:270px;
    float:left;
    margin:10px 10px 0px 0px;
}
#navi_add ul{
    border-left:#E5E5E5 solid 1px;
    border-right:#E5E5E5 solid 1px;
    border-bottom:#E5E5E5 solid 1px;
    padding:8px;
    background-color:#F6F6F6;
    margin:0px;
}
#navi_add ul li{
    padding:3px 0px;
}
#recommend_template{
    width:750;
}
#recommend_template ul{
    float:left;
    width:200px;
    margin:10px 30px;
    padding:0px;
    text-align:center;
}
#recommend_template img{
    border:1px solid #CCC;
}
#recommend_template p{
    padding:0px 40px;
}

#recommend_plugin{
    width:750;
}
#recommend_plugin ul{
    float:left;
    width:120px;
    margin:10px 30px;
    padding:0px;
    text-align:center;
}
#recommend_plugin img{
    border:1px solid #CCC;
}
#recommend_plugin p{
    padding:0px 40px;
}
#faceWraps{
    display:none;
    width: 300px;
    overflow: auto;
    position: absolute;
    text-align: center;
    z-index: 10000;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    background: #FEFEFE;
}
#addon_ins{
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    width: 600px;
    margin:30px auto;
    padding:50px;
    font-size: 14px;
    text-align: center;
}
#addon_ins #addonsucc {
    background:url(../images/icon_succ.gif) no-repeat 10px;
    height:20px;
    padding:0px 40px 0px 30px;
}
#addon_ins #addonerror {
    background:url(../images/icon_error.gif) no-repeat 10px;
    height:20px;
    padding:0px 40px 0px 30px;
}
.ajaxload {
    background:url(../images/loading.gif) no-repeat 10px;
    height:20px;
    padding:0px 40px 0px 30px;
}
.required{color: red; font-size: 16px; margin-left: 2px;}
.page{text-align:center;margin:10px 0px;}
.page span{
    background-color: #CC3300;
    color:#FFF;
    padding:5px 8px;
    border-radius: 4px;
}
.page a{
    background-color: #68aee1;
    color:#FFF;
    padding:2px 8px;
    border-radius: 4px;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }
.form-group li{margin:12px 0px;}
.em-small {width: 50px;}
.container-side{
    margin-top:85px;
}
/*模板管理*/
.tpl{
    margin: 5px;
}
.tpl ul{
    float: left;
    margin: 10px;
    width: 340px;
    height: 280px;
}
.tpl .item{
    border: 1px solid #dedede;
}
.tpl img{
    width: 100%;
    height: 240px;
}
.tpl .title{
    padding: 10px;
    border-top: 1px solid #dedede;
}
.tpl .active{
    background: #dff0d8;
}
.tpl .add a{
    color: #999;
    text-decoration: none;
    display: block;
    position: relative;
    z-index: 1;
}
.tpl .add a:hover {
    color: #00a0d2;
}
.tpl .add .theme-screenshot {
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}
.tpl .add .theme-screenshot:after {
    padding-top: 75%;
    content: '';
    display: block;
    padding-top: 66.66666%;
}
.tpl .add span:after {
    background: #e5e5e5;
    background: rgba(153,153,153,.1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    content: "+";
    -webkit-font-smoothing: antialiased;
    font: 400 100px/115px dashicons;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    color: #999;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -50px;
    text-indent: -4px;
    padding: 0;
    text-shadow: none;
    z-index: 4;
}
.tpl .add .theme-name {
    background: 0 0;
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    position: relative;
    top: 0;
    margin-top: -18px;
    padding-top: 0;
    padding-bottom: 48px;
    font-size: 15px;
    color: #23282d;
}
.tpl .add a:after {
    display: block;
    content: '';
    background: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    text-shadow: none;
    border: 5px dashed #d5d2ca;
    border: 5px dashed rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tpl .add a:focus .theme-screenshot,.tpl .add a:hover .theme-screenshot{
    background: 0 0;
}
.tpl .add a:focus span:after,.tpl .add a:hover span:after{
    background: #fff;
    color: #0073aa;
}
.tpl .add a:focus:after,.tpl .add a:hover:after{
    border-color: transparent;
    color: #fff;
    background: #0073aa;
    content: '';
}
.tpl .add a:focus .theme-name,.tpl .add a:hover .theme-name{
    color: #fff;
    z-index: 2;
}

.widget-act-del {
    background:url(../images/icon_del.gif) no-repeat center;
    margin:5px;
    display:none;
    width:15px;
    height:15px;
    cursor:pointer;
    float: right;
}
.widget-act-add {
    background:url(../images/icon_add.gif) no-repeat center;
    margin:5px;
    width:15px;
    cursor:pointer;
    height:15px;
    float: right;
}