@charset "utf-8"; 
body{font-size:12px; color:#000; line-height:1.6; font-family:arial,helvetica,sans-serif; padding:0; margin:0;}
a{color: #999999; text-decoration:none;outline:none; }
a:hover{color:#333; text-decoration:none}
#media-upload-header{background-color: #F9F9F9; border-top:solid #F0F0F0 1px; margin-top:8px; height:20px;}
#media-upload-header span{margin:0px 5px 0px;padding:1px 5px; list-style-type:none; display:block; float:left; zoom:1; height:17px;}
#curtab{background-color:#FFF; border-left:1px solid #F0F0F0; border-right:1px solid #F0F0F0; border-top:1px solid #F0F0F0}
#attlist{float:left; border:1px solid #CCC; list-style:none; text-align:center; margin:5px; padding:3px}
#attmsg{margin:40px 0px 0px 250px}
#media-upload-body{margin:0px 200px 0px 0px}