/* body
--------------------------------------------------*/
body {
  color:#414141;
  background:#EDE8E2;
}

body#commentspopup {background:white;}


/* headings
--------------------------------------------------*/
h1, h1 a,
h2, h2 a,
h3 a,
h4 a
  {color:#009193;}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover
  {color:#1BA6B2;}


/* links
--------------------------------------------------*/
a {color:#6C8C37;}

a:hover {color:#009193;}

a.commentlink {
font-weight:bold;
padding-left:16px;
margin-left:50px;
background:url(images/spring_flavour/comments.gif) center left no-repeat;
}

a.more {
  padding-right:10px;
  background:url(images/spring_flavour/more.gif) center right no-repeat;
}


/* paragraphs, lists, etc
--------------------------------------------------*/
pre,
code
  {background-color:#F8FAF2;}

kbr {color:#009193;}


/* container
--------------------------------------------------*/
#container {
  padding-top:0;
  border-top:30px solid white;
  background:white url(images/spring_flavour/container_bg.gif) 500px 0px repeat-y;
}

#container.singlecol,
#commentspopup #container {background-image:none;}



/* header
--------------------------------------------------*/
#header {
  background-color:#F0F9F9;
  background-image:url(images/spring_flavour/header_bg.jpg);
}


/* navigation
--------------------------------------------------*/
#navigation {background-color:#A3C159;}

#navigation li {border-color:white;}

#navigation a {color:white;}

#navigation .selected,
#navigation a:hover
  {background-color:#1BA6B2}

#navigation form {
  border-color:white;
  background:#FEC42D url(images/spring_flavour/corner_bottom_right.gif) bottom right no-repeat;
}

#navigation #s {border-color:#FFF9EA;}

#navigation #searchbutton {
  color:white;
  background-color:#A3C159;
}


/* Entry
--------------------------------------------------*/
.entry {margin:0 0 40px 0;}

.entry .author {}

.entry .info {
  border-color:#F3F4F4;
  background-color:#FAFAFA;
}

	.entry .info a {border-color:#F3F4F4;}

.entry a.more {
  padding-left:12px;
  background:url(images/spring_flavour/more.gif) center left no-repeat;
}

.entry .info .date {
  padding-left:15px;
  background:url(images/spring_flavour/post.gif) center left no-repeat;
}

.entry .info .author {
  padding-left:23px;
  border-color:#F3F4F4;
  background:url(images/spring_flavour/author.gif) 10px 2px no-repeat;
}

.entry .info .caty {
  padding-left:23px;
  border-color:#949494;
  background:url(images/spring_flavour/categories_yellow.gif) 10px 2px no-repeat;
}

.entry #filedunder {border-color:#F3F4F4;}


/* Mini-Entry
--------------------------------------------------*/
.minientry  {border-color:#D9D9D9;}

.minientry .commentlink {border-color:#949494;}

.minientry .permalink {
  padding-left:15px;
  background:url(images/spring_flavour/post.gif) center left no-repeat;
}

.minientry .author {
  padding-left:23px;
  border-color:#949494;
  background:url(images/spring_flavour/author.gif) 10px 2px no-repeat;
}


/* Comments
--------------------------------------------------*/
#comments h2 {margin-bottom:24px;}

#comments h2 a {color:#6C8C37;}

#comments li.comment {list-style-image:url(images/spring_flavour/comments.gif);}

#comments li.trackback,#comments li.pingback {list-style-image:url(images/spring_flavour/pingtrackback.gif);}

#commentform {background-color:#EDF3DE;}

#comments .header {background-color:#EDF3DE;}

#comments .header.alt {background-color:#E9F7F6;}


/* form
--------------------------------------------------*/
form p {border-color:white;}

form label { color:#6C8C37;}

form em {color:#C8C8B4;}

form input {color:#414141;}

form input, form textarea {
  border-color:#DCDCDC #F0F0F0 #F0F0F0 #DCDCDC;
}

form .button {
  border-color:white #DCDCDC #DCDCDC white;
  background-color:#F0F0F0;
}


/* Archives
--------------------------------------------------*/
.archive .postspermonth {color:#A0A0A0;}


/* content misc
--------------------------------------------------*/
.next a {
  padding-right:10px;
  background:url(images/spring_flavour/next.gif) center right no-repeat;
}

.previous a {
  padding-left:10px;
  background:url(images/spring_flavour/previous.gif) center left no-repeat;
}

#entrynavigation {border-color:#F3F4F4;}

.editlink {
  position:absolute;
  height:14px;
  width:14px;
  right:2px;
  background:url(images/spring_flavour/edit.gif) 0 -14px;
}

html>body .editlink {bottom:6px;}

.entry .info .editlink a,
.minientry .editlink a,
#comments li .editlink a {
  display:block;
  height:14px;
  width:14px;
  margin:0;
  padding:0;
  border:none;
  font-size:1px; /* IEWin */
  line-height:0; /* IEWin */
  text-indent:-9999px;
  background:url(images/spring_flavour/edit.gif) 0 0;
}

.entry .info .editlink a:hover,
.minientry .editlink a:hover,
#comments li .editlink a:hover
  {background:none;}


/* subcontent
--------------------------------------------------*/
#subcontent {background:url(images/spring_flavour/subcontent_bg.gif) top left no-repeat;}


/* subcontent headings
--------------------------------------------------*/
#subcontent h4 {
  color:white;
  background:#A3C159 url(images/spring_flavour/corner_top_left.gif) top left no-repeat;
}

#subcontent h4 em {background:url(images/spring_flavour/corner_bottom_right.gif) bottom right no-repeat;}

/* subcontent list
--------------------------------------------------*/
#subcontent ul li {border-bottom-color:#F0F0F0; list-style:none;}

#subcontent li a:hover {background-color:#FFFBF0;}

#subcontent ul.pages li {list-style-image:url(images/spring_flavour/post_yellow.gif);}

#subcontent ul.record li,
#subcontent ul.months li {list-style-image:url(images/spring_flavour/categories_yellow.gif);}

#subcontent ul.links li {list-style-image:url(images/spring_flavour/links_yellow.gif);}

#subcontent ul.feeds li {list-style-image:url(images/spring_flavour/feeds_yellow.gif);}

#subcontent ul.posts li {list-style-image:url(images/spring_flavour/post_yellow.gif);}

#subcontent ul.categories li li {list-style-image:url(images/spring_flavour/sub_categories_yellow.gif);}


/* footer
--------------------------------------------------*/
#footer {
  color:#A0A0A0;
  background:white url(images/spring_flavour/footer_bg.gif) 470px 0px no-repeat;
}

.singlecol #footer {background-image:none;}

#footer p {border-top:6px solid #E9F7F6;}

#footer a {color:#A0A0A0;}

#footer a:hover {color:#414141;}

#footer strong {color:#009193;}
