@font-face {
	font-family: Gputeks;
	font-style:  normal;
	font-weight: 700;
	src: url(fonts/GPUTEKS0.eot);
}
@font-face {
	font-family: Gputeks;
	font-style:  normal;
	font-weight: normal;
	src: url(fonts/GPUTEKS0.eot);
}


