# ----------------------------------------------------------------------
# UTF-8 encoding
# ----------------------------------------------------------------------

# use utf-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8

# force utf-8 for a number of file formats
AddCharset utf-8 .html .css .js .xml .json .rss

# ----------------------------------------------------------------------
# Rewrite engine rules
# ----------------------------------------------------------------------

RewriteEngine on
RewriteBase /
#RewriteBase /emlog

RewriteRule ^wlwmanifest\.xml$ wlwmanifest.php [L]
