<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteBase /
	RewriteRule ^t/page-([0-9]+)\.html$ t/index.php?page=$1
	RewriteRule ^(post|record|sort|author|page)-([0-9]+)\.html$ index.php?$1=$2
	RewriteRule ^tag-(.+)\.html$ index.php?tag=$1
	RewriteRule ^t/page/([0-9]+)$ t/index.php?page=$1
	RewriteRule ^(post|record|sort|author|page)/([0-9]+)$ index.php?$1=$2
	RewriteRule ^tag/(.+)$ index.php?tag=$1
</IfModule>