
							<IfModule mod_rewrite.c>
								RewriteEngine on
								RewriteCond %{REQUEST_FILENAME} !-f
								RewriteCond %{REQUEST_FILENAME} !-d
								RewriteBase /emlog/src/
								RewriteRule ^(post|record|sort|author|page)-([0-9]+)\.html$ index.php?$1=$2
								RewriteRule ^tag-(.+)\.html$ index.php?tag=$1
							</IfModule>