/* top elements */
* { margin: 0; padding: 0; outline: 0; }

body {
	background: #caced1;
	font: 70%/1.5em Verdana, Tahoma, arial, sans-serif;
	color: #777;
	text-align: center;
	margin: 15px 0;
}

/* links */
a, a:visited {
	text-decoration: none;
	background: inherit;
	color: #FB9233; 
}
a:hover {
	text-decoration: underline;
	background: inherit;
	color: #93C600;
}

/* headers */
h1, h2, h3 { font-family: 'Trebuchet MS', Tahoma, Sans-serif;  }
h1 {
	font-size: 180%;	
	font-weight: normal;	
	color: #555;
}
h2 {
	font-size: 160%;
	color: #88ac0b;
	font-weight: normal;
}
h3 {
	font-size: 135%;	 
	color: #666666;
}
img {
	border:0;
}
h1, h2, h3, p {
	margin: 10px 15px;
	padding: 0;
}
ul, ol {
	margin: 5px 15px;
	padding: 0 25px;
}
/* form elements */
form {
	margin:10px 15px; 
	padding: 10px 0;
	border: 1px solid #E5F0FB; 
	background: #F4F8FD;
}
fieldset {
	margin: 0;	padding: 0;
	border: none;
}
legend {
	display: none;
}
label {
	display:block;
	font-weight:bold;
	margin: 7px 0;
}
input {
	padding:3px;
	border: 1px solid #E5F0FB; 
	font: normal 1em Verdana, sans-serif;
	color:#777;	
}
textarea {
	width:400px;
	padding:3px;
	font: normal 1em Verdana, sans-serif;
	border: 1px solid #E5F0FB; 
	height:100px;
	display:block;
	color:#777;
}
input.button { 
	font: bold 12px Arial, Sans-serif; 
	height: 28px;
	margin: 0;
	padding: 2px 3px; 
	color: #fff;
	background: #306bc1 url(images/button-bg.jpg) repeat-x 0 0; 
	border: 1px solid #306bc1;
}

/* search form */
.searchform {
	background-color: transparent;
	border: none;	
	margin: 0; 
	padding: 5px 0 5px 0;	
	width: 180px;	
}
.searchform p { margin: 0; padding: 0; }
.searchform input.textbox { 
	width: 110px;
	color: #777; 
	height: 20px;
	padding: 2px;	
	border: 1px solid #D2E8F7; 
	vertical-align: top;
}
.searchform input.button { 
	width: 55px;
	height: 26px;
	padding: 2px 5px;
	vertical-align: top;
}

/********************************************
   LAYOUT
********************************************/ 
#wrap {
	width: 790px;
	background: #CCC url(images/content.jpg) repeat-y center top;
	margin: 0 auto;
	text-align: left;
}
#content-wrap {
	clear: both;
	width: 760px;	
	margin: 5px auto;
	padding:0; 	
}
#header {
	position: relative;
	height: 131px;
	background: #caced1 url(images/header.jpg) no-repeat center top;
	padding: 0;	
	color: #fff;	
}
#header h1#logo-text a {
	position: absolute;
	margin: 0; padding: 0;
	font: bolder 55px 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -3px;
	color: #fff;
	text-transform: none;
	text-decoration: none;
	background: transparent;
	
	/* change the values of top and left to adjust the position of the logo*/
	top: 18px; left: 35px;	
}
#header p#slogan {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 13px 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	color: #FFF;
	
	/* change the values of top and left to adjust the position of the slogan*/
	top: 80px; left: 50px;		
}

/* header links */
#header #header-links {
	position: absolute;
	color: #C6DDEE;
	font: bold 14px"Trebuchet MS", Arial, Tahoma, Sans-serif;
	top: 20px; right: 20px;	
}
#header #header-links a {	
	color: #fff;
	text-decoration: none;	
}
#header #header-links a:hover {
	color: #D4FF55;	
}

/* navigation */
#menu {
	clear: both;	
	margin: 0 auto; padding: 0;
	background: #81C524 url(images/menu.jpg) no-repeat;	
	font: bold 16px/40px "trebuchet MS", Arial, Tahoma, Sans-serif;
	height: 40px;
	width: 790px;	
}
#menu ul {
	float: left;
	list-style: none;
	margin:0; padding: 0 0 0 20px;
}
#menu ul li {
	display: inline;
}
#menu ul li a {
	display: block;
	float: left;
	padding: 0 12px;
	color: #fff;	
	text-decoration: none;
	background: url(images/sep.jpg) no-repeat 100% 100%;
}
#menu ul li a:hover {
	color: #3b5e0b;	
}
#menu ul li#current a {	
	color: #3b5e0b;
}
#menu ul li.current_page_item a {	
	color: #3b5e0b;
}

/* Main Column */
#main {
	float: left;
	width: 555px;
	margin: 0; padding: 20px 0 0 0; 
	display: inline;
	background: url(images/box.jpg) no-repeat; 	
}
#main h2 {
	font: normal 180% 'Trebuchet MS', Tahoma, Arial, Sans-serif;
	padding: 0; 	
	margin-bottom: 0;		
	color: #2666c3;
}
#main h2 a {
	color: #2666c3;
	text-decoration: none;	
}

#main p, #main h1, #main h2, #main h3, #main ol, #main ul,
#main blockquote, #main table, #main form {
	margin-left: 20px;
	margin-right: 25px;
}
/* Sidebar */	
#sidebar {
	float: right;
	width: 195px;
	padding: 0 0 10px 0; margin: 10px 0 0 0;	
	color: #777;	
}
#sidebar p {
	margin-left: 5px;
}
#sidebar h2 {
	margin: 15px 5px 10px 5px;
	font: bold 1.4em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #555;
	border-bottom: 1px solid #A9D4EF;
}
#sidebar ul.sidemenu {
	list-style: none;
	margin: 7px 10px 8px 0;padding: 0;
	text-align:left;
	text-decoration: none;
}
#sidebar ul.sidemenu li {
	list-style: none;
	padding: 4px 0 4px 5px;
	margin: 0 2px;	
	color: #777;	
	border-bottom: 1px solid #D2E8F7; 
}
* html body #sidebar ul.sidemenu li {
	height: 1%;
}
#sidebar ul.sidemenu ul { margin: 0 0 0 5px; padding: 0; }
#sidebar ul.sidemenu ul li { border: none; }
.calendar td{font-size:12px; text-align:center; padding:1px 5px; line-height:1.4;}
.calendar a{font-weight:bold;}
.day2{font-weight:bold}
.sun{color:#333; font-weight:bold}
.week{color:#333}
.calendartop{text-align:center; font-size:14px; margin-left:35px}

/* Footer */	
#footer {
	color: #C6DDEE;
	background: #caced1 url(images/footer.jpg) no-repeat center top;
	clear: both;
	width: 790px;
	height: 57px;
	text-align: center;	
	font-size: 90%;	
}
#footer p { 
	padding: 10px 0;
	margin: 0;
}
#footer a { 
	color: #fff;
	text-decoration: none; 
}

/* post footer */
.post-footer {
	background: #F4F8FD;
	padding: 5px; margin: 20px 25px 0 25px;
	border: 1px solid #E5F0FB; 
	font-size: 95%;	
}
.post-footer .date {	padding-left: 0px; margin: 0 5px; }
.post-footer .comments { padding-left: 0px; margin: 0 5px; }
.post-footer .readmore { padding-left: 0px; margin: 0 5px; }

.post-by { font-size: .95em;	margin-top: 0;	}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* display and additional classes */
.clear { clear: both; }