body {
	background: #ffffff url(none);
	font: 12px/16px Arial, Helvetica, sans-serif;
	padding: 0 40px;
	margin: 0px;
	color: #000000;
}
#page {
	background: none;
}
#wrapper {
	width: 100%;
	margin: 0px;
}
#header {
	border-bottom: solid 1px #000000;
	height: 100px;
	margin-bottom: 15px;
}

h1 {
	color: #000000;
	margin: 0px;
	left: 0;
}
h1 a, h1 a:visited {
	color: #000000;
	text-decoration: none;
}
h2 {
	border: none;
}
.description {
	left: 0;
}

#left-col {
	width: 100%;
}

#content {
	padding: 0;
	background: #ffffff;
	width: 100%;
}
.post {
	padding: 0;
	background: none;
}
.post .date {
	height: auto;
	width: 100%;
	background: none;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #666666;
	text-align: left;
	padding: 0;
	line-height: 100%;
}
.post .date span {
	height: auto;
	text-align: left;
	padding: 0;
	display: inline;
}
.post .title {
	clear: both;
	width: 100%;
	margin: 0;
}
.postdata .category{
	background: none;
	padding: 0;
	float: left;
}
.postdata .comments{
	background: none;
	padding: 0;
	float: right;
}

h3#comments {
	background: none;
	padding-left: 0;
	font: bold 14px/120% Arial, Helvetica, sans-serif;
	clear: both;
}

.commentlist li, .commentlist .alt {
	border: none !important;
}

#searchform, #nav, #subnav, .mini-add-comment, .page-nav, .post-nav, h3#respond, #commentform, #footer, #sidebar  {
	display: none !important;
}