body {
	margin-top: 50px;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400
}

a:link, a:active, a:visited {color:#777; text-decoration:none;}
a:hover {color: #4e73df !important; text-decoration:underline !important;}

h1,h2,h3,h4,h5,h6,.navbar-brand,.brand-name {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400
}

.well {
	background-color: #fff;
	background-image: url(./images/premium-bg.png)
}

header.marquee {
	padding: 50px 0;
	text-align: center;
	color: #fff;
	background-color: #b84d45;
	background-image: url(./images/bg.png)
}

header.marquee .brand-name {
	display: block;
	font-size: 50px;
	line-height: 1
}

header.marquee h1 {
	font-size: 24px;
	line-height: 1;
	margin: 20px 0
}

header.marquee p {
	font-size: 16px;
	color: rgba(255,255,255,.8);
	line-height: 1.4
}

header.marquee p a {
	color: #fff
}

header.marquee img.logo {
	margin-bottom: 50px
}

header.marquee .btn-cta {
	margin: 20px 0 0;
	padding: 10px 15px;
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 14px
}

header.marquee .btn-cta:hover {
	color: #b84d45;
	background-color: #fff
}

@media (min-width:768px) {
	header.marquee {
		padding: 150px 0
	}

	header.marquee .brand-name {
		font-size: 80px
	}

	header.marquee h1 {
		font-size: 34px
	}

	header.marquee p {
		font-size: 20px
	}

	header.marquee .btn-cta {
		padding: 15px 20px;
		font-size: 18px
	}
}

.navbar-default {
	background-color: #fff
}

.preview-thumb {
	margin-bottom: 50px
}

.sb-page-header {
	position: relative;
	padding-top: 80px;
    padding-bottom: 60px;
	text-align: center;
	color: rgba(255,255,255,.8);
	background-color: #4e73df;
	background-image: url(./images/bg.png);
	margin-bottom: 40px;
	font-size: 20px
}

.sb-page-header h1 {
	margin-top: 0;
	color: #fff
}

.sb-page-header p {
	margin-bottom: 0;
	line-height: 1.4
}

.sb-page-header .container {
	position: relative
}

.sidebar{
    display: none;
}

@media (min-width:768px) {
	.sb-page-header {
		padding-top: 80px;
		padding-bottom: 60px;
		text-align: left;
		font-size: 24px
	}

	.sb-page-header h1 {
		font-size: 40px;
		line-height: 1
	}
    .sidebar{
        display: block;
    }
}

@media (min-width:992px) {
	.sb-page-header h1,.sb-page-header p {
		margin-right: 380px
	}
}

header.marquee .carbonad {
	margin: 50px -15px 0!important
}

@media (min-width:480px) {
	.carbonad {
		width: 330px!important;
		margin: 20px auto!important;
		border-width: 1px!important;
		border-radius: 4px
	}

	header.marquee .carbonad {
		margin: 50px auto 0!important
	}
}

@media (min-width:768px) {
	.carbonad {
		margin-right: 0!important;
		margin-left: 0!important
	}
}

@media (min-width:992px) {
	.carbonad {
		position: absolute;
		top: 0;
		right: 15px;
		width: 330px!important;
		margin: 0!important;
		padding: 15px!important
	}

	header.marquee .carbonad {
		position: static
	}
}

footer {
	padding: 50px 0;
}

footer .footer-left,footer .footer-right,footer .footer-below {
	text-align: left
}

@media (min-width:992px) {
	footer .footer-left {
		text-align: left
	}

	footer .footer-right {
		text-align: right
	}

	footer .footer-below {
		text-align: center;
	}
}

.calendartop{text-align:center; font-size:12px; margin-left:30px}
.calendar{margin-bottom:10px;}
.calendar td{font-size:11px; text-align:center; padding:1px 10px; line-height:1.6;}
.calendar td a:link{color:#886353; text-decoration:none;}
.calendar td a:hover{color:#886353; text-decoration:none}
.day{background:url(images/bg_cal_today.gif)  no-repeat 2px 1px}
.day2{font-weight:bold}
.sun{color:#333; font-weight:bold}
.week{color:#333}

.comment-header{margin:15px 0px 5px 0px}
.comment-post {clear:both}
.comment-post p{margin:5px 0px}
.comment-post .cancel-reply{float:right;font-size:12px;cursor:pointer; _cursor:hand;padding-right:10%}
.comment-post .cancel-reply:hover{text-decoration:underline}
.comment-post small{font-size:12px; color:#999}
.comment-post input{padding:5px 5px; border:1px #b6b6b6 solid; font-size:12px; color:#333; width:40%}
.comment-post #comment{ width:90%; border:1px #b6b6b6 solid; font-size:12px; color:#333}
.comment-post #comment_submit{background:url(images/em_button.gif) no-repeat; border:0; color:#000000; width:111px; height:29px; text-align:center; cursor:pointer; _cursor:hand}
.comment-post .input{width:100px}
.comment{margin:10px 0; padding:10px 0px; font-size:12px; border-bottom:1px #f7f7f7  solid; overflow:hidden; color:#333; height:100%; zoom:1}
.comment span{color:#ff7a15;}
.comment .comment-time{color:#999999; display:inline; font-size:10px;}
.comment .avatar{float:left;margin:5px}
.comment .comment-info{float:left;width:90%}
.comment .comment-content{margin:8px 0px 0px 0px;}
.comment .comment-reply{float:right;font-size:12px;cursor:pointer; _cursor:hand;}
.comment .comment-reply:hover{text-decoration:underline}
.comment-children{width:95%;margin:auto;clear:both;border:none;padding:0}
.comment .comment-post{width:90%;margin:15px auto}