BODY {
	FONT-SIZE: 66%;
	BACKGROUND: url(images/kubrickbgcolor.jpg) #d5d6d7; 
	COLOR: #333; 
	FONT-FAMILY: "Lucida Grande", "Verdana", "Arial", "Sans-Serif", "宋体";
	TEXT-ALIGN: center;
	table-layout:fixed;word-wrap:break-word;
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px 0px 20px; 		
	PADDING-TOP: 0px;	
}
li{
	list-style:none;
	}
#page {
	BACKGROUND-COLOR: white; 
	TEXT-ALIGN: left;
	background: url("./images/kubrickbg.jpg") repeat-y top; 
	border: none;
	margin:auto;
}
#header {
	BACKGROUND: url(images/kubrickheader.jpg) no-repeat center bottom;
}
#headerimg {
	MARGIN: 7px 9px 0px; WIDTH: 740px; 
	HEIGHT: 192px
}
#content {
	FONT-SIZE: 1.2em
}
.widecolumn .entry P {
	FONT-SIZE: 1.05em
}
.narrowcolumn .entry {
	LINE-HEIGHT: 1.4em
}
.widecolumn .entry {
	LINE-HEIGHT: 1.4em
}
.widecolumn {
	LINE-HEIGHT: 1.6em
}
#footer {
	BACKGROUND: url(images/kubrickfooter.jpg) #eee no-repeat 50% top; 
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	text-align:center;
}
H1 {
	FONT-WEIGHT: bold;
	color:#FFFFFF; 
	FONT-FAMILY: "Trebuchet MS", "Lucida Grande", "Verdana", "Arial", "Sans-Serif", "宋体";
}
H2 {
	FONT-WEIGHT: bold; 
	FONT-FAMILY: "Trebuchet MS", "Lucida Grande", "Verdana", "Arial", "Sans-Serif", "宋体";
}
H3 {
	FONT-WEIGHT: bold; 
	FONT-FAMILY: "Trebuchet MS", "Lucida Grande", "Verdana", "Arial", "Sans-Serif", "宋体";
}
H1 {
	FONT-SIZE: 28px; 
	TEXT-ALIGN: center
}
#headerimg .description {
	color:#FFFFFF;
	FONT-SIZE: 1.2em; 
	TEXT-ALIGN: center
}
H2 {
	FONT-SIZE: 1.6em
}
H2.pagetitle {
	FONT-SIZE: 1.6em
}
#sidebar H2 {
	FONT-SIZE: 1.2em; 
	FONT-FAMILY: "Lucida Grande", "Verdana", "Sans-Serif", "宋体";
}

#sidebar H2 {
	TEXT-DECORATION: none
}

#sidebar {
	FONT: 1em "Lucida Grande", "Verdana", "Arial", "Sans-Serif", "宋体";
}
#sidebar h2{
	cursor:hand;
}
#sidebar UL UL LI {
	COLOR: #777
}
#sidebar UL OL LI {
	COLOR: #777
}

BLOCKQUOTE {
	COLOR: #777
}
STRIKE {
	COLOR: #777
}
CODE {
	FONT: 1.1em "Courier New", "Courier, Fixed", "宋体";
}
ACRONYM {
	FONT-SIZE: 0.9em; LETTER-SPACING: 0.07em
}
abbr {
	FONT-SIZE: 0.9em; LETTER-SPACING: 0.07em
}
SPAN.caps {
	FONT-SIZE: 0.9em; LETTER-SPACING: 0.07em
}
A {
	COLOR: #06c; TEXT-DECORATION: none
}
H2 A:hover {
	COLOR: #06c; TEXT-DECORATION: underline；
}
H3 A:hover {
	COLOR: #06c; TEXT-DECORATION: none
}
A:hover {
	COLOR: #147; 
	TEXT-DECORATION: underline
}
#page {
	 WIDTH: 760px; 
	 PADDING-TOP: 0px;
}

#headerimg a:link {
	text-decoration: none;
	color:#ffffff;
	}
#headerimg a:visited {
	text-decoration: none;
	color:#ffffff;
	}
#headerimg a:hover {
	text-decoration:none;
	color:#ffffff;
	}

#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 1px; WIDTH: 758px; PADDING-TOP: 0px; HEIGHT: 200px;
}
#headerimg {
	MARGIN: 0px; WIDTH: 100%; HEIGHT: 200px
}
.narrowcolumn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 45px; FLOAT: left; PADDING-BOTTOM: 20px; MARGIN: 0px; WIDTH: 450px; PADDING-TOP: 0px
}
.widecolumn {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 20px; 
	MARGIN: 5px 0px 0px 20px; 
	WIDTH: 450px; 
	PADDING-TOP: 10px;
	float:left
}
.post {
	MARGIN: 20px 0px 40px; 
	TEXT-ALIGN: left;
	border-bottom:#C8C8C8 dotted 1px;
}
.widecolumn .post {
	MARGIN: 0px
}
.narrowcolumn .postmetadata {
	PADDING-TOP: 5px
}
.widecolumn .postmetadata {
	MARGIN: 30px 0px
}
.widecolumn .smallattachment {
	FLOAT: left; MARGIN: 5px 5px 5px 0px; WIDTH: 128px; TEXT-ALIGN: center
}
.widecolumn .attachment {
	MARGIN: 5px 0px; TEXT-ALIGN: center
}
.postmetadata {
	CLEAR: left
}
#footer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 760px; PADDING-TOP: 0px
}
#footer P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN: 0px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
H1 {
	MARGIN: 0px; PADDING-TOP: 70px
}
H2 {
	MARGIN: 30px 0px 0px
}
H2.pagetitle {
	MARGIN-TOP: 30px; TEXT-ALIGN: center
}
#sidebar H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 30px 0px 0px; PADDING-TOP: 0px
}
H3.comments {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 40px auto 20px; PADDING-TOP: 0px
}
.alignright {
	FLOAT: right
}
.alignleft {
	FLOAT: left
}
.entry OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 35px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.entry OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.postmetadata UL {
	DISPLAY: inline; LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: none
}
.postmetadata LI {
	DISPLAY: inline; LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: none
}
#sidebar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar UL OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar UL LI {
	LIST-STYLE-IMAGE: none; MARGIN-BOTTOM: 15px; LIST-STYLE-TYPE: none
}
#sidebar UL P {
	MARGIN: 5px 0px 8px
}
#sidebar UL SELECT {
	MARGIN: 5px 0px 8px
}
#sidebar UL UL {
	MARGIN: 5px 0px 0px 10px
}
#sidebar UL OL {
	MARGIN: 5px 0px 0px 10px
}
#sidebar UL UL UL {
	MARGIN: 0px 0px 0px 10px
}
#sidebar UL OL {
	MARGIN: 0px 0px 0px 10px
}
OL LI {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: decimal
}
#sidebar UL OL LI {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: decimal
}
#sidebar UL UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px 0px; PADDING-TOP: 0px
}
#sidebar UL OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px 0px; PADDING-TOP: 0px
}
.entry FORM {
	TEXT-ALIGN: center
}
SELECT {
	WIDTH: 130px
}
#sidebar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN-LEFT: 545px; WIDTH: 190px; PADDING-TOP: 20px
}
#sidebar FORM {
	MARGIN: 0px
}

HR {
	DISPLAY: none
}
.navigation {
	MARGIN-TOP: 10px; DISPLAY: block; MARGIN-BOTTOM: 60px; TEXT-ALIGN: center
}
#pageurl{
	text-align:right;
	float:left;
}
/*日历样式*/
.calendar{
	/*background-image:url(images/bg.jpg);*/
	margin-left:3px;
}
.calendar td{
	font-size:11px;
	text-align:center;
	padding:0px 2px;
}
.day{
	font-weight:bold;
	border:#63617b solid 1px;
}
.day2 {
	font-weight:bold;

}
.sun{
	background-color:#4788C0;
	color: #CCFF00;
	font-weight:bold;
}
.week{
	background-color:#4788C0;
	color:#FFFFFF;
	}
.calendartop{
	text-align:center;
	font-size:11px;
	margin-left:18px;
	}
.remsg {
	width:500px;
	margin:20px 200px;
	padding:20px 10px;
	background-color:#FFFFFF;
}
.commentlist{
	margin:5px 20px;
	padding:5px;
	border-bottom:#DDDDDD solid 1px;
	border-top:#DDDDDD solid 1px;
	background-color:#F8F8F8;
}
.expanded {
	display: none;
}
.tagul{
	line-height:2.0
}
#msg{
	margin:200px 0px;
	padding: 20px;
	line-height: 24px;
	width:200px;
}
#twitter li 
{
	border-top:dotted #999999 1px;
	line-height:20px;
}
#twitter li span
{
	font-size:10px;
	padding-left:60px;
}
#twitter li small
{
	font-size:10px;
	padding:0px 10px;
}
#input{
  padding:3px;
  border:1px solid #CCCCCC;
}