body {
	background: url(images/bodybg.jpg) #999999;
	background-repeat: repeat-x;
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #666666;
	text-align: justify;
}

img {
	border: 0;
	max-width:600px;
}

#container {
	width: 960px;
	margin: 0 auto;
	background: url(images/containerbg.jpg);
	background-repeat: repeat-y;
}

#header {
	height: 110px;
	padding: 40px 50px 0 50px;
	background: url(images/headerbg.jpg);
	background-repeat: no-repeat;
	font-size: 10px;
	position: relative;
}

#header h1 {
	margin: 0;
	font-size: 20px;
}

#header a {
	text-decoration: none;
	color: #666666;
}

#header a:hover {
	color: #333333;
}

#header #search {
	position: absolute;
	top: 40px;
	right: 50px;
	height: 20px;
}

#header #keyword {
	background: #ffffff;
	border: 1px solid #cccccc;
	color: #666666;
	width: 205px;
	margin: 0;
	font-size: 12px;
	color: #999999;
	padding: 2px;
}

#header #searchsubmit {
	height: 20px;
	width: 20px;
	border: none;
	cursor: pointer;
	background: url(images/searchsubmit.gif);
	background-repeat: no-repeat;
	display: none;
}

#login {
	text-align: right;
}

#navbar {
	margin: 0 0 20px 0;
	background: url(images/navbarbg.jpg);
	background-repeat: no-repeat;
	height: 40px;
}

#navbar ul {
	margin: 0 0 0 30px;
	padding: 0;
}

#navbar li {
	display: inline;
}

#navbar a {
	display: block;
	float: left;
	height: 30px;
	padding: 0 30px 0 20px;
	font-size: 12px;
	color: #999999;
	text-decoration: none;
	line-height: 30px;
	background: url(images/navbuttonbg.gif);
	background-position: right 50%;
}

#navbar a:hover {
	color: #666666;
	background: url(images/navbuttonbg-hover.gif);
	background-position: right 50%;
}

#posts {
	width: 600px;
	padding: 0 0 0 50px;
	margin: 0 0 20px 0;
	float: left;
}

.commentbubble a {
	float: left;
	background: url(images/commentbubble.gif);
	background-repeat: no-repeat;
	background-position: 0 -1px;
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 10px;
	margin: 0 5px 0 0;
}

.date {
	font-size: 12px;
	color: #999999;
	line-height: 1.5em;
}

.post {
	margin: 0 0 30px 0;
}
.post .entry{
	width:620px;
	overflow:hidden;
}
.tags {
	font-size: 10px;
	line-height: 1.5em;
	color: #999999;
}

.post h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}

.post h3 {
	font-size: 14px;
	font-weight: bold;
	
}

.post a, .navigation a {
	color: #0195c5;
	text-decoration: none;
}

.post a:hover, .navigation a:hover {
	color: #333333;
}

.post a img {
	border: none;
}

.postmetadata {
	font-size: 10px;
	line-height: 1.5em;
}

.post img.alignleft {
	float: left;
	margin: 0 20px 20px 0;
}

.post img.alignright {
	float: right;
	margin: 0 0 20px 20px;
}

.post img.aligncenter {
	text-align: center;
}

.post .wp-caption {
	border: 1px solid #cccccc;
	background: #ebebeb;
	text-align: center;
	padding: 10px 5px 0 5px;
}

.post .wp-caption-text {
	margin: 0;
	font-size: 12px;
}
.trackback{
list-style:none;
border-bottom:dotted 1px #999999;

}
#commentform #author, #commentform #email, #commentform #url, #commentform #comment {
	background: #ffffff;
	border: 1px solid #cccccc;
	color: #666666;
}

.commentlist {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.commentlist li {
	background: #ebebeb;
	padding: 20px;
	border: 1px solid #cccccc;
	margin: 0 0 20px 0;
}

.avatar {
	float: left;
	margin: 0 5px 0 0;
}

.sidebar {
	margin-left: 700px;
	font-size: 12px;
	width: 200px;
}

.sidebar ul {
	list-style-type: none;
	margin: 0 0 30px 0;
	padding: 0;
}

.sidebar h2 {
	margin: 0 0 5px 0;
	font-size: 16px;
	color: #666666;
	width: 210px;
	border-bottom: 1px solid #cccccc;
}

.sidebar a {
	color: #0195c5;
	text-decoration: none;
}

.sidebar a:hover {
	color: #333333;
}

#footer {
	clear: both;
	height: 150px;
	background: url(images/footerbg.jpg);
	background-repeat: no-repeat;
}

#footer p {
	text-align: center;
	font-size: 12px;
	position: relative;
	top: 40px;
}

#footer a {
	color: #666666;
	text-decoration: none;
}

#footer a:hover {
	color: #333333;
}
/*日历样式*/
.calendar { /*background-image:url(images/bg.jpg);*/
	margin-left: 0px;
}

.calendar td {
	font-size: 12px;
	text-align: center;
	padding: 5px 7px;
	width:100%;
}

.calendar a:visited {
	color: #FF3300;
	text-decoration: none;
}

.calendar td a:link {
	color: #FF3300;
	text-decoration: none;
}

.calendar td a:hover {
	color: #FF3300;
	text-decoration: none;
}

.day {
	color:#0195C5;
}

.day2 {
	font-weight: bold;
}

.sun {
	background-color: #F5F5F5;
	color: #333333;
	font-weight: bold;
}

.week {
	background-color: #F5F5F5;
	color: #333333;
}

.calendartop {
	text-align: center;
	font-size: 14px;
	margin-left: 41px;
}

#twitter li {
	border-bottom: dotted #999999 1px;
}

#twitter li span {
	font-size: 10px;
	padding-left: 120px;
}

#twitter li small {
	font-size: 10px;
	padding: 0px 10px;
}

/*输入框样式*/
.input {
	border: 1px solid #CCCCCC;
	font-family: Arial;
	font-size: 12px;
	height: 16px;
	background-color: #FFFFFF;
	color: #666666;
}

.textarea {
	border: 1px solid #CCCCCC;
	font-family: Arial;
	font-size: 14px;
	color: #666666;
}
#bloggerinfo{
	text-align:center;
}